
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@1,300&family=Oswald&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Grandstander:ital,wght@0,500;1,400&family=Lato:ital,wght@1,300&family=Oswald&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Grandstander:ital,wght@0,500;1,400&family=Lato:ital,wght@1,300&family=Oswald&family=Tektur:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Grandstander:ital,wght@0,500;1,400&family=Lato:ital,wght@1,300&family=Oswald&family=Tektur:wght@500&family=Ubuntu&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Edu+SA+Beginner:wght@600&family=Grandstander:ital,wght@0,500;1,400&family=Lato:ital,wght@1,300&family=Oswald&family=Tektur:wght@500&family=Ubuntu:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin:0;
    padding:0;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgb(238, 230, 240); 
}
header { 
    background-image:url("unsplash.jpg");
    background-color:white;
    color:white;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    opacity:1;   
}
.logo {
    display: flex;
    align-items: center;  
}
.logo img {
     height: 98px;   
}
.auth-buttons {
    display: flex;
    align-items:baseline;   
}
.auth-buttons .btn {
    margin-left: 10px;
    background-color:rgb(109, 5, 5) ;
    color: #ffffff;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.4s;
}
.auth-buttons .btn:hover {
    margin-left: 10px;
    background-color:rgb(0, 17, 255) ;
    color: #ffffff;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transform:scale(1.3);
}
nav{
    display:flex;
    margin: 6; 
}
nav ul{
    display:flex;
    justify-content:flex-start;   
}
nav  li{
     padding:0 30px;
}
nav  a {
    text-decoration:none;
    color:#791d1d;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Grandstander', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Tektur', cursive;   
}
nav  a:hover {
    text-decoration:none;
    color:#f80000; 
    font-weight:bolder;  
}
.search-bar{
    display:flex;
    margin:6;
    padding:0;
    align-items:baseline;   
}
.search-bar input{
height:20px;
width:180px;
border-radius:6px;
}
#search-btn{
    color:blue;
    font-weight: bolder;
    background-color:transparent;
    border-radius:4px;
    margin-left: 1.5px;
}
.hero {
    background:white;
    text-align: center;
    padding: 3rem 0;
    position:relative;
}
.hero::before{
    content:"";
    background-image:url("imaage.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity:0.8;
}
.hero h2 {
    font-size: 2rem;
    color:rgb(27, 6, 117);
    background-color:transparent;
    margin: 0;
    padding: 0;
    position:relative;
    animation-name:sum1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes sum1{
    from{
width:700px;
    }
    to{
width:2000px;
    }
}
.hero  .btn{
    display:inline-block;
    text-decoration: none;
    border-radius: 9px;
    background: #d60505;
    color:rgba(255, 255, 255, 0.774);
    transition:all 0.4s;
    padding:0 0.5rem;
    position:relative;
}
.hero  .btn:hover{
    text-decoration: none;
    color:#660909;
    transform:scale(1.3);
    position:relative;
}
.jobs h3{
    margin: 2 0 2;
    padding: 0 20;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Grandstander', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Tektur', cursive;
    font-family: 'Ubuntu', sans-serif;
}
.job-categories {
    text-align: center;
    margin-top: 1rem;
}
.job-categories .job-category {
    display: inline-block;
    background: #e90909;
    color: #ffffff;
    padding: 0.5rem 3rem;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 26px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Grandstander', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    transition:all 0.4s;
}
.job-categories .job-category:hover {
    display: inline-block;
    background:#4e1f1f;
    color: #ffffff;
    padding: 0.5rem 3rem;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 26px;
    transform:scale(1.3);
} 
.job-category:last-child {
    margin-right: 0;
}
.job-listings {
    margin-top: 2rem;
}
.job {  
    border: 20px solid #dfd7e6;
    border-radius: 48px;
    padding: -1rem;
    margin-bottom: 1rem;
    margin-top:1rem;
    margin-left:40;
    margin-right:40;
    
}
.job h4 {
    margin: 0;
    padding: 0;
}

.job-info {
    margin: 0;
    padding: 0;
}
.job .btn{
    display:block;
    background-color: #bdc1d4;
    text-decoration: none;
    margin-right: 500;
    margin-left: 500;
    border-radius:6px;
    transition:all 0.4s;
}
.job .btn:hover{
    display:block;
    background-color: #bdc1d4;
    text-decoration: none;
    margin-right: 550;
    margin-left: 550;
    border-radius:6px;
    transform:scale(1.3);
}
.job1 .btn{
    text-decoration:none;
    
    background-color:white;
    border:3px solid black;
    border-radius:30px;
    color:blue;
    text-decoration:none;
    padding:0 1rem;
    transition:all 0.4s; 
    margin-bottom:3;   
}
.job1 .btn:hover{
    text-decoration:none;
    background-color:white;
    border:4px solid black;
    border-radius:40px;
    color:blue;
    text-decoration:none;
    padding:0 1rem; 
    transform:scale(1.3);   
}
.about-us, .partners {
    text-align: center;
    margin-top: 1.5rem;
}
.about-us h4, .partners h4 {
    font-size: 1.5rem;
}
.about-us p, .partners p {
    margin-top: 1rem;
}
.contact h3{
    margin:0;
    padding:0;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Grandstander', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Tektur', cursive;
    font-family: 'Ubuntu', sans-serif;
}
.contact form {
    text-align: center;
}
.contact form label {
    display: block;
    margin-bottom: 10px;
    float:left;
}
.contact form input{
    display:flex;
    width: 42%;
    padding: 1px;
    margin-bottom: 20px;
}
.contact form textarea {
    display:flex;
    width: 40%;
    padding: 0px;
    margin-bottom: 20px;
}
 button  {
    padding:0 9px;
    border-radius:4px;
    color:blue;
    transition:all 0.4s;
    margin-right:100%;
}
 button:hover{
    color:blue ;
    transform:scale(1.1);
}
.company h4{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Grandstander', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Tektur', cursive;
    font-family: 'Ubuntu', sans-serif;
}
.legal {
    text-align: center;
    padding: 2rem 0;
    background: #f4f4f4;
}
.legal ul {
    list-style: none;
    padding:0;
    margin:0;   
}
.legal li {
    margin-top: 1rem;
}
.legal li a {
    text-decoration: none;
    color: #333;
}
.legal h3{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Grandstander', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Tektur', cursive;
    font-family: 'Ubuntu', sans-serif;
}
footer {
    background: #333;
    color: #eee5e5;
    text-align: center;
    padding: 2rem 0;
    font-family: 'Lato', sans-serif;
}


